@font-face {
    font-family: 'Titillium Web';
    src: url('/fonts/TitilliumWeb/TitilliumWeb-BoldItalic.woff2') format('woff2'),
        url('/fonts/TitilliumWeb/TitilliumWeb-BoldItalic.woff') format('woff'),
        url('/fonts/TitilliumWeb/TitilliumWeb-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Titillium Web';
    src: url('/fonts/TitilliumWeb/TitilliumWeb-LightItalic.woff2') format('woff2'),
        url('/fonts/TitilliumWeb/TitilliumWeb-LightItalic.woff') format('woff'),
        url('/fonts/TitilliumWeb/TitilliumWeb-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Titillium Web';
    src: url('/fonts/TitilliumWeb/TitilliumWeb-ExtraLightItalic.woff2') format('woff2'),
        url('/fonts/TitilliumWeb/TitilliumWeb-ExtraLightItalic.woff') format('woff'),
        url('/fonts/TitilliumWeb/TitilliumWeb-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Titillium Web';
    src: url('/fonts/TitilliumWeb/TitilliumWeb-Light.woff2') format('woff2'),
        url('/fonts/TitilliumWeb/TitilliumWeb-Light.woff') format('woff'),
        url('/fonts/TitilliumWeb/TitilliumWeb-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Titillium Web';
    src: url('/fonts/TitilliumWeb/TitilliumWeb-Italic.woff2') format('woff2'),
        url('/fonts/TitilliumWeb/TitilliumWeb-Italic.woff') format('woff'),
        url('/fonts/TitilliumWeb/TitilliumWeb-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Titillium Web';
    src: url('/fonts/TitilliumWeb/TitilliumWeb-SemiBold.woff2') format('woff2'),
        url('/fonts/TitilliumWeb/TitilliumWeb-SemiBold.woff') format('woff'),
        url('/fonts/TitilliumWeb/TitilliumWeb-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Titillium Web';
    src: url('/fonts/TitilliumWeb/TitilliumWeb-ExtraLight.woff2') format('woff2'),
        url('/fonts/TitilliumWeb/TitilliumWeb-ExtraLight.woff') format('woff'),
        url('/fonts/TitilliumWeb/TitilliumWeb-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Titillium Web';
    src: url('/fonts/TitilliumWeb/TitilliumWeb-Bold.woff2') format('woff2'),
        url('/fonts/TitilliumWeb/TitilliumWeb-Bold.woff') format('woff'),
        url('/fonts/TitilliumWeb/TitilliumWeb-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Titillium Web';
    src: url('/fonts/TitilliumWeb/TitilliumWeb-Regular.woff2') format('woff2'),
        url('/fonts/TitilliumWeb/TitilliumWeb-Regular.woff') format('woff'),
        url('/fonts/TitilliumWeb/TitilliumWeb-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Titillium Web';
    src: url('/fonts/TitilliumWeb/TitilliumWeb-SemiBoldItalic.woff2') format('woff2'),
        url('/fonts/TitilliumWeb/TitilliumWeb-SemiBoldItalic.woff') format('woff'),
        url('/fonts/TitilliumWeb/TitilliumWeb-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Titillium Web';
    src: url('/fonts/TitilliumWeb/TitilliumWeb-Black.woff2') format('woff2'),
        url('/fonts/TitilliumWeb/TitilliumWeb-Black.woff') format('woff'),
        url('/fonts/TitilliumWeb/TitilliumWeb-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

